<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.libre.alexa">




    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS"/> -->

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name="com.libre.alexa.LibreApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.libre.alexa.SpalshScreenActivity"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.libre.alexa.ConfigureActivity"
            android:label="@string/title_activity_configure"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.libre.alexa.PlayNewActivity"
            android:label="@string/title_activity_configure"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.libre.alexa.ActiveScenesListActivity"
            android:label="@string/title_activity_active_scenes_list"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.libre.alexa.Network.SacListActivity"
            android:label="@string/title_activity_sac_list_speakers"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.libre.alexa.Network.ssid_configuration"
            android:label="@string/title_activity_speakers_setup"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.libre.alexa.ManageDevice.ManageDevices"
            android:label="@string/title_activity_manage_device"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- receiver for hardware volume -->
        <!-- <receiver android:name=".VolumeReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.media.VOLUME_CHANGED_ACTION" /> -->
        <!-- </intent-filter> -->


        <!-- </receiver> -->


        <!-- <service android:name=".ForegroundService" /> -->


        <!-- added new activity -->
        <activity
            android:name="com.libre.alexa.NewManageDevices.NewManageDevices"
            android:label="@string/title_activity_manage_device"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.libre.alexa.ManageDevice.CreateNewScene"
            android:label="@string/title_activity_select_source_device"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.libre.alexa.nowplaying.NowPlayingActivity"
            android:label="@string/title_now_playing"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.libre.alexa.Network.LSSDPDeviceNetworkSettings"
            android:label="@string/title_activity_lssdp_network_Settings"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.libre.alexa.nowplaying.DeviceList"
            android:label="@string/title_activity_device_list"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.libre.alexa.ManageDevice.BrowserActivity"
            android:label="Sources"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.libre.alexa.RemoteSourcesList"
            android:label="@string/title_activity_remote_sources_list"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.libre.alexa.TuneInRemoteSourcesList"
            android:label="@string/title_activity_remote_sources_list"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.libre.alexa.SourcesOptionActivity"
            android:label="@string/title_activity_sources_option"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.libre.alexa.app.dlna.dmc.DMSBrowserActivity"
            android:label="@string/dmsbrowseractivity"
            android:launchMode="singleTask">

        </activity>
        <activity
            android:name="com.libre.alexa.app.dlna.dmc.DMSDeviceListActivity"
            android:label="@string/title_activity_dmsdevice_list"
            android:launchMode="singleTask" />
        <activity
            android:name="com.libre.alexa.led.LedActivity"
            android:hardwareAccelerated="false"
            android:label="@string/led_controller" />
        <activity
            android:name="com.libre.alexa.app.dlna.dmc.LocalDMSActivity"
            android:label="@string/dmsbrowseractivity"
            android:launchMode="singleTask">
            </activity>

        <service android:name="com.libre.alexa.app.dlna.dmc.processor.upnp.CoreUpnpService" />
        <service
            android:name="com.libre.alexa.app.dlna.dmc.processor.upnp.LoadLocalContentService"
            android:exported="false" />

        <!-- <receiver android:name="broadcastrecievers.NetworkStateReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
        <!-- <action android:name="android.net.wifi.WIFI_STATE_CHANGED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

<!--        <meta-data-->
<!--            android:name="io.fabric.ApiKey"-->
<!--            android:value="ffafecf7ae38b48966e47d4c723fa9ddf6544ebb"-->
<!--            tools:replace="android:value"/>-->

        <activity
            android:name="com.libre.alexa.Network.NewSacActivity"
            android:label="@string/title_activity_new_sac"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.libre.alexa.BassEffectActivity"
            android:label="@string/title_activity_bass_effect"
            android:launchMode="singleTask" />
        <activity
            android:name="com.libre.alexa.Gcast"
            android:label="@string/title_activity_gcast"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.libre.alexa.GcastSources"
            android:label="@string/title_activity_gcast"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.libre.alexa.Network.NewSacDevicesActivity"
            android:label="@string/speaker_setup_title"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.libre.alexa.SacSettingsOption"
            android:label="@string/speaker_setup_title"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.libre.alexa.SacSettingsPairShare"
            android:label="@string/pair_share_title"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.libre.alexa.Network.SacSettingsPairShareScreen2"
            android:label="@string/speaker_setup_title"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.libre.alexa.Network.SacInstructionsActivity"
            android:label="@string/speaker_setup_title"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.libre.alexa.LibreWebViewActivity"
            android:label="@string/speaker_setup_title"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name="com.libre.alexa.StaticInstructions.spotifyInstructions" />

        <service
            android:name="com.libre.alexa.DMRDeviceListenerForegroundService"
            android:exported="false" />

        <activity
            android:name="com.libre.alexa.Network.SacActivityScreenForLaunchWifiSettings"
            android:label="@string/title_activity_sac_activity_screen_for_launch_wifi_settings" />
        <activity
            android:name="com.libre.alexa.Ls9Sac.ConnectingToMainNetwork"
            android:label="@string/title_activity_connecting_to_main_network"
            android:parentActivityName="com.libre.alexa.DeviceDiscoveryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.libre.alexa.DeviceDiscoveryActivity" />
        </activity>
        <activity
            android:name="com.libre.alexa.Ls9Sac.GoogleCastUpdateAfterSac"
            android:label="@string/title_activity_google_cast_update_after_sac"
            android:launchMode="singleTask" />
        <activity
            android:name="com.libre.alexa.Ls9Sac.GcastUpdateStatusAvailableListView"
            android:label="@string/title_activity_gcast_update_status_available"
            android:launchMode="singleTask" />
        <activity android:name="com.libre.alexa.alexa_signin.AlexaSignInActivity" />
        <activity android:name="com.libre.alexa.alexa_signin.AlexaThingsToTryDoneActivity" />
        <activity android:name="com.libre.alexa.alexa_signin.AlexaThingsToTrySignOutActivity" />
        <activity
            android:name="com.amazon.identity.auth.device.authorization.AuthorizationActivity"
            android:allowTaskReparenting="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${applicationId}"
                    android:scheme="amzn" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.libre.alexa.alexa_signin.AlexaContactsActivity"
            android:label="@string/alexa_contacts_title" />
        <activity android:name="com.libre.alexa.alexa_signin.AlexaLangUpdateActivity"></activity>

        <activity
            android:name="com.libre.alexa.alexa.userpoolManager.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.libre.alexa.alexa.userpoolManager.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.libre.alexa.alexa.userpoolManager.RegisterUser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.libre.alexa.alexa.userpoolManager.AboutApp"
            android:label="@string/title_activity_about_app"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.libre.alexa.alexa.userpoolManager.SignUpConfirm"
            android:label="@string/title_activity_sign_up_confirm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.libre.alexa.alexa.userpoolManager.MFAActivity"
            android:label="@string/title_activity_mfa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.libre.alexa.alexa.userpoolManager.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.libre.alexa.alexa.userpoolManager.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.libre.alexa.alexa.userpoolManager.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.libre.alexa.alexa.userpoolManager.VerifyActivity"
            android:label="@string/title_activity_verify"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.libre.alexa.alexa.userpoolManager.AddAttributeActivity"
            android:label="@string/title_activity_add_attribute"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.libre.alexa.alexa.userpoolManager.DeviceSettings"
            android:label="@string/title_activity_device_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.libre.alexa.alexa.userpoolManager.NewPassword"
            android:label="@string/title_activity_new_password"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity android:name="com.libre.alexa.activities.newFlow.VodafoneLoginRegisterWebViewActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.libre.alexa.activities.newFlow.VodafoneThingsToTryActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.libre.alexa.activities.newFlow.VodafoneAlexaDinnerTimeSettingsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.libre.alexa.activities.newFlow.VodafoneDinnerTimeWiredPairingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.libre.alexa.activities.newFlow.VodafoneDinnerTimePairedActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.libre.alexa.activities.newFlow.VodafoneAlexaSkillEnablementSucessActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.libre.alexa.activities.newFlow.VodafoneAlexaDinnerTimeDeviceListActivity"
            android:screenOrientation="portrait"/>



        <activity android:name= "com.libre.alexa.activities.newFlow.VodafoneSettingUpFamilyRoutinesActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.newFlow.VdfTermsAndConditionsActivity"
            android:screenOrientation="portrait"
            />



    </application>

</manifest>